// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'vendor/normalize';

/**
 * Como fazer amigos: ANTES de começar, leia:
 *
 * http://cssguidelin.es/
 * ou
 * https://github.com/necolas/idiomatic-css/tree/master/translations/pt-BR
 *
 */

 html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Ubuntu';
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.title {
    font-size: 8vw;
}
.title small {
  font-size: 0.5em;
}
img {
  width: 25%;
}